<div id="catalogWrapper">
	<div id="catalogBanner">
		<div class="row">
			<div class="container">
				<div class="col-sm-12">
					<div class="catalog-banner-title">
						<h3>Top Product</h3>
						<h1>Categories</h1>
					</div>
					<div class="catalog-banner-categories-wrapper">
						<ul class="list-catalog-banner-categories">
							<li>
								<img src="/assets/images/products/small/sea-salt-chips.png">
								<p>Salty Snacks</p>
							</li>
							<li>
								<img src="/assets/images/products/small/oil-big.png">
								<p>Cooking Oil</p>
							</li>
							<li>
								<img src="/assets/images/products/small/condensed-milk.png">
								<p>Canned Milk</p>
							</li>
							<li>
								<img src="/assets/images/products/small/white-rice.png">
								<p>Rice</p>
							</li>

                            <li>
                                <img src="/assets/images/products/small/white-sugar.png">
                                <p>Sugar Products</p>
                            </li>
                            <li>
                                <img src="/assets/images/products/small/elbows.png">
                                <p>Pasta</p>
                            </li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="ourPhilosophyWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-title">
						<h2>Our Products</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="italic">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

						<div class="gmo-free-badges-wrapper">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<img src="assets/images/gmo-free-badges.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    {{#each model as |category|}}
        <div {{action "displayProducts" category on="click"}} class="catalog-title-banner" id="{{category.headerBgId}}">
            <h1>{{category.name}}</h1>
        </div>
        <div class="catalog-categories-body" id="{{category.backgroundId}}">
            <div class="row">
                <div class="container">
                    {{#if category.displayProducts}}
                        <div class="catalog-body-padding">
                        {{#each category.products as |product|}}
                            {{#if product.isExtended}}
                                <div class="expanded-product-wrapper">
                                    <div class="col-md-12">
                                        <div {{action "contract" on="keyPress"}}>
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </div>
                                        <div class="col-md-4">
                                            <div {{action "displayProductInfo" product on="click"}} class="ind-product-wrapper">
                                                <img src="{{product.productImg}}"><br/>
                                                <img class="thumbnailImage" src="{{product.productImg}}">
                                                <img class="thumbnailImage" src="{{product.labelImg}}">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="product-info-wrapper">
                                                <h1>{{product.engName}}</h1>
                                                <h4>{{product.spaName}} - {{product.quantity}}</h4>
                                                <p>{{product.description}}</p>
                                                <button class="btn btn-default"><a href="#">Get a Quote</a></button> 
                                                <button class="btn btn-default"><a href="#">Download Catalog</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            {{else}}
                                <div class="col-md-4">
                                    <div {{action "displayProductInfo" product on="click"}} class="ind-product-wrapper">
                                        <div {{action "product.expand" on="keyPress"}}> 
                                            <img src="{{product.productImg}}" >
                                            <h5>{{product.engName}}</h5>
                                            <p>{{product.spaName}}<br/>{{product.quantity}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                        <div class="clearfix"></div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>                  
    {{/each}}

     

	{{contact-section}}
</div>